.EvilBeast{
  border: 1px solid white;
  width: calc(100vw - 10%);
  /* height: calc(100vw - 10%); */
  height: 100vh;
  background-color: white;
  color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  svg {
  /* border: 1px solid white; */
    height: 100%;
  }
  /* img{ */
  /*   width: 40rem; */
  /* } */
}
	.st0{display:none;fill:#F5F4EF;}
	.st1{display:none;fill:#F2EFE9;}
	.st2{fill:#593F3F;}
	.st3{fill:#542C2D;}
	.st4{fill:#F2EFE9;}
	.st5{fill:#776D6B;}
	.st6{fill:#6C5856;}
	.st7{fill:#DDD6D3;}
	.st8{fill:#B99C98;}
	.st9{fill:#ECB8A6;}
	.st10{fill:#F5F4EF;}
	.st11{fill:#C16060;}
