.TitmouseFlightWrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image:url('../../assets/images/Ishtar_gate_lion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // border: 1px solid white;
  svg {
    // border: 1px solid red;
    height: 15rem;
    overflow: visible;
  }
}
