.TitmouseFlightWrapper{
  height: 100%;
  width:100%;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items:center;
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Ishtar_gate_lion.png');
  background-repeat:no-repeat;
  background-size:100%;
  border: 1px solid white;
  svg {
  border: 1px solid red;
    height: 100%;
    overflow: visible;
  }
}
  .TitmouseFlight {
    height: 100vw;
  }


