$font-family: roboto;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1.6vw;
  font-family: $font-family;
  font-style: normal;

/*   @include for-small-desktop-only { */
/*     font-size: 10px; */
/*   } */
/**/
/*   @include for-medium-desktop-only { */
/*     font-size: 13px; */
/*   } */
/**/
/*   @include for-hd-desktop-only { */
/*     font-size: 17px; */
/*   } */
/**/
/*   @include for-big-desktop-up { */
/*     font-size: 26px; */
/*   } */
}
/**/
/* h1 { */
/*   @include textFontSize(3.33); */
/* } */
/**/
/* h2 { */
/*   @include textFontSize(2.5); */
/* } */
/**/
/* h3 { */
/*   @include textFontSize(2); */
/* } */
/**/
/* h4 { */
/*   @include textFontSize(1.67); */
/* } */
/**/
/* h5 { */
/*   @include textFontSize(1.33); */
/* } */
/**/
/* h6 { */
/*   @include textFontSize(1.2); */
/* } */
/**/
/* p { */
/*   @include textFontSize(1); */
/**/
/*   margin-bottom: 0.7rem; */
/* } */
/**/
/* span { */
/*   @include textFontSize(1); */
/* } */
/**/
/* input { */
/*   @include textFontSize(1); */
/**/
/*   font-family: $font-family; */
/**/
/*   &[type="number"] { */
/*     -moz-appearance: textfield; */
/**/
/*     &::-webkit-outer-spin-button, */
/*     &::-webkit-inner-spin-button { */
/*       -webkit-appearance: none; */
/*       margin: 0; */
/*     } */
/*   } */
/* } */
/**/
/* a { */
/*   color: inherit; */
/**/
/*   &.close { */
/*     color: $color-ui-element-secondary; */
/*   } */
/* } */
/**/
/* svg { */
/*   height: 3rem; */
/* } */
/**/
/* summary { */
/*   // removes the default arrow icon */
/*   font-size: 0; */
/*   outline: none; */
/* } */
/**/
/* fieldset { */
/*   border: none; */
/* } */
/**/
/* stylelint-disable selector-max-id */
/**/
/* #wrapper { */
/*   height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/* } */
/**/
/* .st1 { */
/*   fill: $color-ui-element-primary; */
/* } */

