$font-family: roboto;
$font-family-header: 'Megrim', cursive;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  /* width: 100%; */
  font-size: 1.6vw;
  /* font-family: $font-family; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #030303;
  color: white;

  a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }

  a:hover {
    color: violet;
  }

  h1 {
    color: white;
  }

  .Layout {
    /* border: 1px solid white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
      /* overflow: visible; */
      /* border: 1px solid white; */
      /* height:2rem; */
      /* display: grid; */
      /* grid-template-columns: 5% 95%; */
      /* justify-content:center; */
      /* align-items:center; */
    }
    &__header-title{
      display:flex;
      justify-content:center;
    }
    &__footer {
      display: flex;
      justify-content: center;
    }
  }

  .DrawerWrapper {
    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid white; */
    /* border-right: 1px solid white; */
    /* border-top-right-radius: 25%; */
    /* border-bottom-right-radius: 25%; */
    position: absolute;
    top: 4rem;
    height: 10rem;
    /* align-items: center; */
    z-index: 100;
  }
}
