.Burger{
  /* overflow: visible; */
  position:relative;
  cursor: pointer;
  &__svg{
  height: 2rem;
  position: absolute;
  z-index:100;
  top: .5rem;
  left: .5rem;
  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  }
}
