$curtain-opacity: .95;
.Theatre {
  position: relative;
  height: 100%;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: 20% 60% 20%; */
  &__stage{
    position:absolute;
    /* border: 3px solid blue; */
    width: 100vw;
    z-index: 3;
  }
  &__show{
    /* border: 3px solid blue; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  &__main-curtain{
    align-self: center;
    /* border: 2px solid yellow; */
    opacity: $curtain-opacity;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* height: 100vh; */
    /* justify-content: center; */
    z-index: 5;
  }
  &__curtain-left{
    /* border: 3px solid green; */
    position: absolute;
    height: 100vh;
    /* width: 20%; */
    z-index: 6;
    opacity: $curtain-opacity;
    /* img{ */
    /*   height: 100%; */
    /* } */
  }
  &__curtain-right{
    /* border: 3px solid purple; */
    right: 0;
    height: 100vh;
    /* width: 20%; */
    position: absolute;
    z-index: 6;
    opacity: $curtain-opacity;
    transform: scaleX(-1);
  }
}

/* .MainCurtainWrapper{ */
/* } */

/* .MainCurtain { */
/*   position:absolute; */
/*   height: 100%; */
/*   width: 100%; */
/*   z-index: 8; */
/*   opacity: .7; */
/* } */
/**/
  /* position: absolute; */
/* .StageWrapper{ */
/*   display:flex; */
/*   justify-content: center; */
/*   align-items:center; */
/*   height: 100%; */
/*   width: 100%; */
/* } */

/* .Stage{ */
/*   position: relative; */
/* } */
