/* $curtain-opacity: .95; */
$curtain-opacity: 1;
.Theatre {
  /* position: relative; */
  height: 100%;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: 20% 60% 20%; */
  /* border: 3px solid blue; */
  position: absolute;
  &__stage{
    position:relative;
    /* border: 3px solid yellow; */
    height: 100vh;
    /* width: 100vw; */
    z-index: 3;
  }
  &__show{
    /* border: 3px solid red; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items:center; */
    position: absolute;
    /* z-index:10; */
  }
  &__main-curtain{
    /* border: 2px solid blue; */
    opacity: $curtain-opacity;
    /* display: none; */
    height: 100vh;
    /* width: 100%; */
    /* bottom: 0; */
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* height: 100vh; */
    /* justify-content: center; */
    z-index: 5;
  }
  &__curtain-left{
    /* border: 3px solid green; */
    position: absolute;
    height: 100vh;
    /* width: 20%; */
    z-index: 6;
    opacity: $curtain-opacity;
    /* img{ */
    /*   height: 100%; */
    /* } */
  }
  &__curtain-right{
    /* border: 3px solid purple; */
    right: 0;
    height: 100vh;
    top: 0;
    /* width: 20%; */
    position: absolute;
    z-index: 6;
    opacity: $curtain-opacity;
    transform: scaleX(-1);
  }
}

/* .MainCurtainWrapper{ */
/* } */

/* .MainCurtain { */
/*   position:absolute; */
/*   height: 100%; */
/*   width: 100%; */
/*   z-index: 8; */
/*   opacity: .7; */
/* } */
/**/
  /* position: absolute; */
/* .StageWrapper{ */
/*   display:flex; */
/*   justify-content: center; */
/*   align-items:center; */
/*   height: 100%; */
/*   width: 100%; */
/* } */

/* .Stage{ */
/*   position: relative; */
/* } */
