  .Welcome {
    /* height: 200vh; */
    /* overflow-y: auto; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position: relative;
    &__title{
      display:  flex;
      justify-content:center;
      align-items:center;
      width: 50vw;
      border: 5px solid red;
      padding: 2rem;
      border-radius:2rem;
      box-shadow:  10px 10px 5px 0px #8a0000;
      background-color: #140b34;
      color: lightgray;

    }
    &__subtitle-1{
      display:  flex;
      justify-content:center;
      align-items:center;
      width: 15rem;
      height: auto;
      background-color: black;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 3rem;
      padding-left: 3rem;
      border: 3px solid white;
      border-radius: 1rem;
    }
  }

/* .Welcome::-webkit-scrollbar { */
/*     display: none; */
/* } */

