  .Welcome {
    /* border: 1px solid yellow; */
    height: 100%;
    flex: 1 1 auto;
  background-image: url('../../assets/images/cosmicBg1.jpg');
  background-repeat: repeat;
  background-size: 100%;
    /* overflow-y: auto; */
    /* width: 50%; */
    /* width: 50%; */
    /* background-color:red; */
  /* padding: 10px; */
  /* background-color: red; */
  /* height: 100%; */
    &__inside{
    border: 1px solid red;
      height: 1500px;
      background-color:green;
      display: flex;
      grid-row: auto auto auto;
      justify-content: space-around;
      flex-direction:column;
      align-items:center;
    }
    &__top-scroll-down{
      /* display: flex; */
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: "1px solid red";
      // backgroundColor: "#2d1176",
      /* color: "#fff"; */
      height: 101vh;
      background-color:purple;

    }
    &__inside-top-1{
      /* display: flex; */
      /* justify-content:center; */
      /* flex-direction:column; */
      /* align-items:center; */
      /* height: 100%; */
      /* width: 100%; */
      /* background-color:white; */
    }
    &__inside-middle{
      /* height: 50%; */
      overflow:hidden;
      /* width: 100%; */
      background-color: red;
    }
    &__inside-middle-1{
      /* height: 30%; */
      /* width: 20%; */
      /* background-color: white; */
    }
    &__inside-bottom{
      /* height: 25%; */
      width: 100%;
      background-color: yellow;
      overflow:hidden;
    }
    &__inside-bottom-1{
      /* height: 30%; */
      /* width: 20%; */
      /* background-color: white; */
    }
  }

.Welcome::-webkit-scrollbar {
    display: none;
}

