@import './animations/little-beast.scss';
@import './animations/little-titmouse.scss';

.KinkyTower2 {
  // background-image: url("../../images/sky.jpg");
  background-size: 120% 100%;
  background-repeat: no-repeat;
  background-position: center left;
  // width: 100%;
  height: 100%;
  position: relative;
  // z-index:0;
  overflow: visible;
  &__little-titmouse {
    // border: 1px solid green;
    // overflow: visible;
    // color: orange;
    position: absolute;
    // top: 40%;
    // border: 1px solid pink;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
  }

  .LittleTitmouse {
    // transform: scale(-1, 1);
    position: absolute;
    height: 3rem;
    z-index: 99;
    overflow: visible;
  }
  &__little-beast {
    // overflow: visible;
    // color: orange;
    position: absolute;
    top: 80%;
    // border: 1px solid pink;
    width: 100%;
    height: 20%;
    svg {
      height: 4rem;
    }
  }
}
